.khung_item_1 {
    min-height: 350px;
    width: 100%;
    position: relative;
    border: 1px solid #e9e9e9;
    background-color: rgb(235, 235, 235);

    .khung_anh {
        height: 100%;
        width: 30%;
        position: absolute;
        top: 0;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px 0 0 5px;
        }

        &:hover {
            .khung_tuy_chon {
                z-index: 3;
                transition: 0.4s;
            }
        }
    }

    .khung_anh_bom_tan {
        position: absolute;
        top: -25px;
        left: 0;
        z-index: 4;
        height: 50px;
        width: 120px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .khung_content {
        height: 100%;
        width: 65%;
        position: absolute;
        right: 0;
        z-index: 1;
        transition: 0.4s;
        text-align: left;
        padding: 10px;

        h1 {
            font-size: 30px;
            font-weight: 700;
            margin: 0;

            a {
                color: black;
                &:hover {
                    color: #fc235d;
                }
            }
        }
        .rate {
            margin-bottom: 20px;
        }
        .trailer {
            margin-bottom: 20px;
        }
        h4 {
            font-size: 18px;
            font-weight: 700;
        }
        .khung_lich {
            padding: 10px 0;
        }
    }
    border-radius: 5px;
    transition: 0.4s;
    &:hover {
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        background-color: #e5e5e51c;
    }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 920) {
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
    .khung_item_1 {
        .khung_anh {
            width: 50%;
        }
        .khung_content {
            padding: 10px 20px;
            width: 50%;
            .rate {
                margin-bottom: 0;
            }
            .trailer {
                margin-bottom: 0;
            }
        }
    }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}
