.khung_item_2 {
    min-height: 525px;
    width: 100%;
    position: relative;
    border: 1px solid #e9e9e9;
    background-color: rgb(235, 235, 235);

    .khung_anh {
        height: 70%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px 0 0 5px;
        }
    }

    .khung_anh_bom_tan {
        position: absolute;
        top: -25px;
        left: 0;
        z-index: 4;
        height: 50px;
        width: 120px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .khung_content {
        height: 30%;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        transition: 0.4s;
        text-align: left;
        padding: 10px;

        h1 {
            font-size: 30px;
            font-weight: 700;

            a {
                color: black;
                &:hover {
                    color: #fc235d;
                }
            }
        }
    }
    border-radius: 5px;
    transition: 0.4s;
    &:hover {
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        background-color: #e5e5e51c;
    }
}
