.Header {
    height: 70px;
    line-height: 70px;
    font-weight: 700;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #c8c8c83b;

    .logo {
        height: 70px;
        width: 100%;
        padding: 5px;
        img {
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    }

    .login {
        line-height: 5;
        .ant-breadcrumb-separator {
            margin: 0 0;
            color: white;
        }
    }
    button {
        a {
            font-weight: 700;
            color: white !important;
        }
        span {
            font-weight: 700;
            color: white;
        }
    }
    .menu_mobi {
        background-color: black;
        height: 100%;
        width: 100%;
        position: fixed;
        left: -100%;
        top: 0;
        color: white;
        padding: 40px 20px;
        z-index: 100;

        .login_mobi {
            position: absolute;
            bottom: 10%;
            width: 80%;
            left: 10%;
        }
        .button {
            button {
                width: 100%;
                background-color: black;
                color: white;
                span {
                    font-weight: 700;
                }
            }
        }
    }
    .showMenu {
        animation: example_show 1s none;
        left: 0;
    }
    @keyframes example_show {
        0% {
            top: 0px;
            left: -100%;
        }

        100% {
            top: 0;
            left: 0;
        }
    }
    .hideMenu {
        animation: example_hide 1s none;
        left: -100%;
    }
    @keyframes example_hide {
        0% {
            top: 0;
            left: 0;
        }

        50% {
            top: 0px;
            left: -100%;
        }
    }
}
