body,
html {
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  font-size: 14px;
  overflow-anchor: none;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
