.DetailPage {
    padding-top: 70px;

    .chi_tiet {
        padding-top: 50px;

        .history {
            padding-bottom: 20px;
        }

        .player-loading {
            width: 100%;
            height: 550px;
            position: relative;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .player-play {
                display: none;
                opacity: 0;
                transition: 0.4s;
            }

            &:hover {
                .player-play {
                    display: inline;
                    opacity: 1;
                    width: 60px;
                    height: 60px;
                    border-radius: 60px;
                    background: linear-gradient(40deg, rgb(252, 35, 93), #4d6497);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 5;
                        background-color: white;
                        border-radius: inherit;
                        animation: fade 1s infinite;
                        z-index: -1;
                    }
                }
            }

            @keyframes fade {
                to {
                    transform: scale(3);
                    opacity: 0;
                }
            }
        }

        .khung_thong_tin {
            padding: 10px;

            .name {
                font-weight: 700;
            }

            .rate {
                padding-bottom: 20px;
            }

            h4 {
                font-weight: 700;
                font-size: 20px;
                padding-right: 10px;
            }
            h5 {
                font-weight: 400;
                font-size: 17px;
            }
        }

        .khung {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
            h1 {
                font-weight: 700;
            }
        }
    }
}
