.bell-noti {
    width: 100%;
    height: 100%;
    position: fixed;
    display: inline-block;
    background-color: white;

    .loading {
        width: 10%;
        height: auto;
        position: absolute;
        left: 45%;
        top: 30%;

        img {
            animation: ring 0.25s forwards alternate infinite linear;
        }

        .line-loading {
            width: 100%;
            height: 0.5rem;
            position: absolute;
            margin: 0 auto;

            &:before {
                content: "";
                position: absolute;
                right: auto;
                left: 0;
                height: 100%;
                background-color: #08aeea;
                animation: lineLoading 1s forwards infinite linear;
            }
        }
    }
}

@keyframes ring {
    from {
        transform: rotate(-20deg);
    }

    to {
        transform: rotate(20deg);
    }
}

@keyframes lineLoading {
    0% {
        right: 100%;
    }

    50% {
        right: 0;
        left: 0;
    }

    100% {
        right: 0;
        left: 100%;
    }
}
