img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    outline: none !important;
    border: 0 !important;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
}

button {
    cursor: pointer;
}

.container {
    width: 70%;
    margin: auto;
    transition: 0.4s;
}
@media screen and (max-width: 990px) {
    .container {
        width: 90%;
        margin: auto;
        transition: 0.4s;
    }
}

.container-fluid {
    width: 100%;
    margin: auto;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.ml-2 {
    margin-left: 20px;
}
// button
.btn {
    // background-color: #fc235d;
    background: linear-gradient(40deg, rgb(252, 35, 93), #4d6497);
    color: #f0f0f0;
    transition: all 0.4s;
    &:focus {
        background: linear-gradient(40deg, rgb(252, 35, 93), #4d6497);
        color: #f0f0f0;
    }

    &:hover {
        background: linear-gradient(40deg, rgb(252, 35, 93), #4d6497);
        color: #f0f0f0;
    }
}

.btn_2 {
    background-color: blue;
    color: #f0f0f0;
    transition: all 0.4s;
    &:focus {
        background-color: #fc235d;
        color: #f0f0f0;
    }

    &:hover {
        background-color: #3b3738;
        color: #f0f0f0;
    }
}

.btn-block {
    width: 100%;
}

.btn-none {
    transition: all 0.4s;
    &:focus {
        background-color: #fc235d;
        color: #f0f0f0;
    }

    &:hover {
        background-color: #3b3738;
        color: #f0f0f0;
    }
}
// end button

.width-full {
    width: 100%;
}
