.ThanhToan {
    .pricing {
        margin-bottom: 1.5rem;
        position: relative;
        width: 100%;

        input[type="radio"] {
            display: none;

            &:checked {
                + .pricing-check {
                    border-color: white;
                }

                ~ .pricing-content {
                    border-color: rgb(189, 187, 187);
                    background-color: rgb(189, 187, 187);
                    color: white;
                }
            }
        }

        .pricing-check {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            background-color: white;
            border: 2px solid #aeaec4;
            cursor: pointer;
            position: absolute;
            left: 2.5rem;
            top: 50%;
            margin-top: -1rem;
        }

        .pricing-content {
            padding: 1rem 1rem 1rem 7.5rem;
            border-radius: 8px;
            border: 1px solid #eee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #0c0e44;
            height: 70px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
