.LichChieuPage {
    padding-top: 100px;
    .bo_loc {
        margin-bottom: 40px;
        h2 {
            font-weight: 700;
        }
        input {
            font-size: 17px;
            font-weight: 700;
        }
    }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 920) {
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px) {
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px) {
}
