.Phim {
    margin-top: 100px;

    .card {
        max-width: 285px;
        border-radius: 4px;
        transform: scale(1);
        transition: transform 250ms cubic-bezier(0.07, 0.79, 0.18, 0.92);
        position: relative;
        height: 405px;
        overflow: hidden;
        background-color: white;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            border-radius: 4px 4px 0 0;
            background-color: #ff414d;
            transform: scaleX(0);
            transition: transform 1s cubic-bezier(0.06, 1.05, 0.24, 0.97);
            transform-origin: 0;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);

            &::before {
                transform: scaleX(1);
            }

            .khung_button {
                transform: translateY(-420px);
                transition: transform 1s cubic-bezier(0.06, 1.05, 0.24, 0.97);
                transform-origin: 0;
            }
        }

        .card__inner {
            .khung_anh {
                height: 355px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .khung_title {
                position: absolute;
                bottom: 0;
                height: 50px;
                width: 100%;
                line-height: 50px;
                text-align: center;
                padding: 0 5px;
                h3 {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 400;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .khung_button {
                transition: transform 1s cubic-bezier(0.06, 1.05, 0.24, 0.97);
                transform-origin: 0;
                height: 420px;
                position: absolute;
                width: 100%;
                bottom: -420px;
                padding-top: 150px;
                box-sizing: border-box;

                .icon-item {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    margin: 0 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    cursor: pointer;
                    color: #fff;
                    background-color: red;
                    margin: 20px auto;

                    a {
                        color: #fff;
                    }
                    &:hover {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .bo_loc {
        margin-bottom: 30px;
    }
    .button {
        margin-bottom: 50px;

        button {
            height: 45px;
            margin: 0 10px;
            transition: 0.4s;
            span {
                font-size: 20px;
            }
        }
    }

    // .khung {
    //     height: 430px;
    //     width: 100%;
    //     position: relative;
    //     border: 1px solid #e9e9e9;

    //     .khung_anh {
    //         height: 88%;
    //         width: 100%;
    //         position: absolute;
    //         top: 0;
    //         z-index: 2;
    //         img {
    //             width: 100%;
    //             height: 100%;
    //         }
    //     }
    //     .khung_tuy_chon {
    //         height: 88%;
    //         width: 100%;
    //         background: #a5a5a5a3;
    //         position: absolute;
    //         top: 0;
    //         z-index: 1;
    //         transition: 0.4s;
    //         text-align: center;
    //         button {
    //             margin-top: 150px;
    //         }
    //     }

    //     .khung_anh_bom_tan {
    //         position: absolute;
    //         top: -25px;
    //         right: 0;
    //         z-index: 4;
    //         height: 50px;
    //         width: 120px;
    //         img {
    //             width: 100%;
    //             height: 100%;
    //         }
    //     }

    //     .khung_name {
    //         height: 10%;
    //         width: 100%;
    //         position: absolute;
    //         bottom: 0;
    //         z-index: 1;
    //         transition: 0.4s;
    //         text-align: center;
    //         h1 {
    //             font-size: 20px;
    //             font-weight: 700;
    //             a {
    //                 color: black;
    //             }
    //             &:hover {
    //                 a {
    //                     color: #fc235d;
    //                 }
    //             }
    //         }
    //     }

    //     &:hover {
    //         .khung_tuy_chon {
    //             z-index: 3;
    //             transition: 0.4s;
    //         }
    //     }
    //     border-radius: 5px;
    //     transition: 0.4s;
    //     &:hover {
    //         -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    //         -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    //         box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    //         background-color: #e5e5e51c;
    //         .khung_name {
    //             h1 {
    //                 color: #fc235d;
    //             }
    //         }
    //     }
    // }
}
