.Footer {
    height: 200px;
    text-align: center;
    background-color: grey;
    padding: 0;
    overflow-x: hidden;

    h1 {
        padding-top: 50px;
        padding-bottom: 10px;
        margin: 0;
        color: white;
    }
    .khung {
        margin: auto;
    }
}
