.TinTuc {
    margin-top: 100px;
    .bo_loc {
        margin-bottom: 30px;
    }
    .button {
        margin-bottom: 50px;

        button {
            height: 45px;
            margin: 0 10px;
            transition: 0.4s;
            span {
                font-size: 20px;
            }
        }
    }

    .simple-card {
        background-color: white;
        border-radius: 2rem;
        padding: 1.5rem;
        box-shadow: var(--shadow);
        width: 100%;
        transform: scale(1);
        transition: transform 250ms cubic-bezier(0.07, 0.79, 0.18, 0.92);
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            border-radius: 4px 4px 0 0;
            background-color: #ff414d;
            transform: scaleX(0);
            transition: transform 1s cubic-bezier(0.06, 1.05, 0.24, 0.97);
            transform-origin: 0;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);

            &::before {
                transform: scaleX(1);
            }
        }

        .simple-card-image {
            position: relative;
            height: 0;
            padding-bottom: 56.25%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }

        .image_v1 {
            height: 324px;
        }
        .simple-card-content {
            padding: 1rem 1rem 0 1rem;

            .simple-card-title {
                line-height: 1.6;
                margin-bottom: 1.5rem;
                margin: 0;
                color: #2b2b2b;
                font-size: 25px;
                font-weight: 400;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .simple-card-desc {
                color: #c7cbdc;
                font-weight: 300;
                line-height: 1.6;
                font-size: 1.4rem;
                margin-bottom: 1rem;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .simple-card-line {
                width: 30%;
                height: 2px;
                margin-left: auto;
                background-color: #08aeea;
            }

            .title_v2 {
                font-size: 17px !important;
            }
            .desc_v2 {
                font-size: 12px !important;
                -webkit-line-clamp: 2;
            }
        }
    }
}
